;;; config.el -*- lexical-binding: t; -*-

;; delete le putain de mode log
(setq org-agenda-start-with-log-mode nil)
(setq org-agenda-skip-deadline-if-done t
      org-agenda-skip-scheduled-if-done t)

(setq org-gcal-client-id "97146172973-noealff3kucah5oo7qbr6f19gsb0sbmm.apps.googleusercontent.com"
      org-gcal-client-secret "{{ .org_gcal_client_secret }}"
      org-gcal-fetch-file-alist '(("bessonflorian50@gmail.com" . "~/org/gcal.org")))

;; theme
(setq doom-theme 'doom-earl-grey)
;; -------------------------------------------------------------------
;; opti perf 
;; -------------------------------------------------------------------
(setq auto-save-timeout 3)                          
(setq read-process-output-max (* 1024 1024))       
(setq doom-modeline-persp-name nil)
(setq doom-modeline-buffer-file-name-style 'truncate-except-project)
(setq echo-keystrokes 0.02)

;; -------------------------------------------------------------------
;; org-modern
;; -------------------------------------------------------------------
(use-package! org-modern
  :config
  (global-org-modern-mode))

;; -------------------------------------------------------------------
;; orgmode + orgmode
;; -------------------------------------------------------------------
(after! org-roam
  (setq org-roam-directory (expand-file-name "~/org-roam/"))
  (setq org-roam-dailies-directory "daily/")
  (org-roam-db-autosync-mode 1))

;; -------------------------------------------------------------------
;; org overall
;; -------------------------------------------------------------------

  ;; my file
  (setq org-agenda-files
        (append
         (directory-files-recursively "~/org" "\\.org$")
         (directory-files-recursively "~/notes/org" "\\.org$")))

;; -------------------------------------------------------------------
;; org agenda
;; -------------------------------------------------------------------

(use-package! org-super-agenda
  :config
  (org-super-agenda-mode 1)
  (setq org-super-agenda-header-map (make-sparse-keymap)) ;;fix evil binding conflict with org-agenda
  (setq org-super-agenda-groups
        '((:name "commande"
           :tag "commande")
          (:name "Habits"
           :file-path "habits"))))


;;activate mouse
(xterm-mouse-mode 1)

;; instant agenda
(map! :leader
      :desc "Org agenda (direct)" "n A" #'org-agenda-list)


;; habit tracking + agenda
(after! org
  (setq org-agenda-span 21)
  (setq org-agenda-start-on-weekday t)
  (setq org-agenda-show-all-dates t)
  (add-to-list 'org-modules 'org-habit)
  (setq org-habit-show-habits-only-for-today t)
  (setq org-habit-precedind-days 21);;perfect timing for habitline
  (setq org-habit-graph-column 60))


;; font doom
(setq doom-font (font-spec :size 20))
